body{
    margin: 0px;
    border-width: 0px;
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color : deepskyblue;
    color:black;
    font-weight: 250;
    font-size: 20px;
    font-family: times, serif;
}
.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 60px;
}
.left-header{
    padding-left: 50px;
    width:300px;
}
.right-header{
    padding-right: 50px;
    width: 500px;
}
.search-box{
    font-size:20px;
}
.sidebar{
    position: fixed;
    display :flex;
    flex-direction: column;
    right: 30px;
    bottom: 150px;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.8;
    background-color: #77FFEE;
    padding: 10px 20px;
    border: 3px dashed #0000AA;
    font-family: times, serif;
}
main{
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70vw;
}
footer{
    height: 80px;
    background-color:deepskyblue;
    color:black;
    font-weight: 250;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-family: times, serif;
}
