body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    border-width: 0px;
    background-image: url("../img/space.png");
    background-attachment:fixed;
    background-size:100vw;
    border-width: 0px;
    color:white;
}
header{
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    background:rgba(255,255,255,0.5);
    color:black;
    font-weight: 10;
    font-size: 16px;
    font-family: times, serif;
    border-radius: 80px;
}
.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-tab{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 13vw;
    background-image:url("../img/rocket.png");
    background-size: 13vw 100px;
}
.logo {
    height: 100px;
}
.left-header{
    padding-left: 20px;
    width:40%;
}
.right-header{
    padding-right: 50px;
    width: 60%;
}
.search-box{
    font-size:20px;
}
.sidebar{
    position: fixed;
    right: -40px;
    bottom: 35vh;
    display :flex;
    flex-direction: column;
    height: 80px;
    width: 120px;
    font-size: 14px;
}
.side-UFO{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: url("../img/UFO.png") rgba(255,255,255,0.3);
    background-size: contain;
    background-repeat: no-repeat;
    transition:transform 0.5s;
    color:black;
    display :flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.first-UFO{
    opacity: 0;
    height: 0px;
    width: 0px;
}
.second-UFO{
    opacity: 0;
    height: 0px;
    width: 0px;
}
.third-UFO{
    opacity: 0;
    height: 0px;
    width: 0px;
}
.fourth-UFO{
    opacity: 0;
    height: 0px;
    width: 0px;
}
.fifth-UFO{
    opacity: 0;
    height: 0px;
    width: 0px;
}
.sidebar:hover .start-UFO{
    display: none;
    height: 400px;
    width: 320px;
}
.side-bar-menu{
    
}
.sidebar:hover .first-UFO{
    opacity: 1;
    position: absolute;
    transform: translateX(-20px) translateY(150px);
    height: 100%;
    width: 100%;
}
.sidebar:hover .second-UFO{
    opacity: 1;
    position: absolute;
    transform: translateX(-100px) translateY(80px);
    height: 100%;
    width: 100%;
}
.sidebar:hover .third-UFO{
    opacity: 1;
    position: absolute;
    transform: translateX(-160px);
    height: 100%;
    width: 100%;
}
.sidebar:hover .fourth-UFO{
    opacity: 1;
    position: absolute;
    transform: translateX(-100px) translateY(-80px);
    height: 100%;
    width: 100%;
}
.sidebar:hover .fifth-UFO{
    opacity: 1;
    position: absolute;
    transform: translateX(-20px) translateY(-150px);
    height: 100%;
    width: 100%;
}

main{
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:60vw;
}
footer{
    height: 100px;
    background-color:rgba(255, 255, 0,0.5);
    color:black;
    font-weight: 10;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-family: times, serif;
    border-radius: 80px;
}
.footer-tab{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 15vw;
    background-image:url("../img/rocket_reverse.png");
    background-size: 15vw 100px;
}
.form-wrapper {
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	padding: 5px;
    width: 14vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-wrapper #submit {
	background-color: #0483a0;
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 30px;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 3vw;
}
.form-wrapper #search {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: black;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 8px;
	padding: 10px;
	width: 8vw;
}