.planet{
    margin: 50px 0px;
    height: 35vw;
    width: 35vw;
    background-image: url("../img/venus.png") ;
    background-size: contain;
}
.dream-part{
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.planet-part{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
.dream-list-part{
    padding-top: 30px;
    width: 25vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.button-part{
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
    width: 24vw;
}
.dream-button{
    height: 6vw;
    width: 6vw;
    margin: 1vw;
    border-radius: 10%;
}
.label{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.home-page-info{
    text-align: center;
    font-size: 24px;
    padding:10px;
}
.gender-button{
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    background-color: wheat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border:solid 1px black;
}
.boy-button{
    background-image: url("../img/boy.png") ;
}
.girl-button{
    background-image: url("../img/girl.png") ;
}
.text-input{
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: black;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 8px;
	padding: 10px;
    width: 12vw;
    text-align: center;
}
.planet-name{
    font-size: 24px;
    height: 16px;
}
.planet-complete-button{
    height: 100px;
    width: 25vw;
    border-radius: 50%;
    border-width: 0px;
    box-shadow:inset 0px 0px 20px 20px wheat;
    background-color: transparent;
    color: orange;
    font-size: 24px;
}
.house{
    background: url("../img/house.png") rgb(0,191,255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.car{
    background: url("../img/car.png") rgb(255,215,0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.wedding{
    background: url("../img/wedding.png") rgb(0,191,255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.kid{
    background: url("../img/baby.png") rgb(255,215,0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.parent{
    background: url("../img/parent.png") rgb(0,191,255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.travel{
    background: url("../img/travel.png") rgb(255,215,0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.retire{
    background: url("../img/retire.png") rgb(0,191,255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.entrepreneur{
    background: url("../img/company.png") rgb(255,215,0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.others{
    background: url("../img/others.png") rgb(0,191,255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.dream-list{
    position: relative;
    width: 25vw;
    height: 45vw;
    background: url("../img/list.png");
    background-size: 25vw 45vw;
    background-repeat: no-repeat;
    background-position: center center; 
}
.dream-list-content{
    position:absolute;
    top:7vw;
    left: 3vw;
    height: 35vw;
    width: 19vw;
    overflow: scroll;
    background-color: rgb(0,0,0, 0.5);
    background-size: 100%;
    display: flex;
    justify-content: space-around;
}