.planet{
    height: 35vw;
    width: 35vw;
    right: 5vw;
    top: 141px;
    -webkit-transition: 1s;
    transition: 1s;
    background-image: url("../img/venus.png") ;
    background-size: contain;
    position: absolute;
    animation: planetTurn 60s linear infinite;
}
@keyframes planetTurn{
    to{
        transform: rotate(1turn);
    }
}
.dream-part{
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.planet-part{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    position: relative;
}
.dream-list-part{
    width: 25vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.button-part{
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
    width: 24vw;
}
.dream-button{
    height: 6vw;
    width: 6vw;
    margin: 1vw;
    border-width: 0px;
    border-radius: 35%;
    box-shadow:inset 0px 0px 10px 5px ;
}
.dream-button:active{
    animation: spinner 0.2s infinite linear;
}
.label{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(35vw + 50px);
}
.home-page-info{
    text-align: center;
    font-size: 24px;
    padding:10px;
}
.gender-button{
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    border:solid 1px black;
    box-shadow:inset 0px 0px 10px 5px;
}
.boy-button{
    background: url("../img/boy.png") rgb(245,222,179, 0.8);
    background: url("../img/boy.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.girl-button{
    background: url("../img/girl.png") rgb(245,222,179, 0.8);
    background: url("../img/girl.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.text-input{
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: black;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 8px;
	padding: 10px;
    width: 12vw;
    text-align: center;
}
.planet-name{
    font-size: 24px;
    height: 16px;
}
.planet-complete-button{
    height: 100px;
    width: 25vw;
    border-radius: 50%;
    border-width: 0px;
    box-shadow:inset 0px 0px 20px 20px wheat;
    background-color: transparent;
    color: orange;
    font-size: 24px;
    margin-top: 50px;
}
.house{
    background: url("../img/house.png") rgb(245,222,179, 0.8);
    background: url("../img/house.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.car{
    background: url("../img/car.png") rgb(166,255,204, 0.5);
    background: url("../img/car.png") rgba(166,255,204, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.wedding{
    background: url("../img/wedding.png") rgb(245,222,179, 0.8);
    background: url("../img/wedding.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.kid{
    background: url("../img/baby.png") rgb(166,255,204, 0.5);
    background: url("../img/baby.png") rgba(166,255,204, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.parent{
    background: url("../img/parent.png") rgb(245,222,179, 0.8);
    background: url("../img/parent.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.travel{
    background: url("../img/travel.png") rgb(166,255,204,0.5);
    background: url("../img/travel.png") rgba(166,255,204,0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.retire{
    background: url("../img/retire.png") rgb(245,222,179, 0.8);
    background: url("../img/retire.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}
.entrepreneur{
    background: url("../img/company.png") rgb(166,255,204,0.5);
    background: url("../img/company.png") rgba(166,255,204,0.5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.others{
    background: url("../img/others.png") rgb(245,222,179, 0.8);
    background: url("../img/others.png") rgba(245,222,179, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 
}

.dream-list{
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    top: 141px;
    right: 2vw;
    width: 20vw;
    height: 35vw;
    box-shadow:inset 0px 0px 100px 5px rgb(166,255,204);
    border-radius: 80px;
}
.dream-list-title{
    padding: 2vw 0px 1vw 0px;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}
.dream-list-content{
    height: 75%;
    width: 20vw;
    overflow: scroll;
    font-size: 24px;    
    display: flex;
    justify-content: space-around;
    color:black;
}
.small-planet-part{
    position: relative;
    width: 75vw;
}
.small-planet{
    position:absolute;
    top:5vw;
    right: 50vw;
    height: 7vw;
    width: 7vw;
}
.big-list-part{
    position: relative;
    width: 25vw;
    height: 50vw;
}
.big-list{
    position: relative;
    right: 34vw;
    top: 0px;
    width: 40vw;
    height: 45vw;
    box-shadow:inset 0px 0px 100px 5px rgb(166,255,204);
    border-radius: 80px;
}
.big-list-title{
    width:100%;
}
.big-list-content{
    width:100%;
}
.adding-dream{
    width: 6vw;
    height: 6vw;
    transition: 1.5s;
    -webkit-transition: all 1s;
}
@keyframes spinner {
	from {
        box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
        transform: rotateX(0);	
    }
	
	to {
        box-shadow: 0 10px 20px rgba( 0,0,0, 0.2);
        transform: rotateX(360deg); 
    }
}
.planet-house{
    display: none;
    width: 35vw;
    height: 36vw;
    top:-0.5vw;
    position: absolute;
    background: url(../img/house.png);
    background-size: 4vw 4vw;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 400;
}
.planet-car{
    display: none;
    width: 35vw;
    height: 38vw;
    top: -1.5vw;
    position: absolute;
    background: url(../img/planet_car.png);
    background-size: 3vw 2vw;
    background-repeat: no-repeat;
    background-position: center top;
    animation: carDriving 15s linear infinite;
    z-index: 100;
}
@keyframes carDriving{
    to{
        transform: rotate(-1turn);
    }
}
.planet-plane{
    display: none;
    width: 35vw;
    height: 40vw;
    top: -2.5vw;
    position: absolute;
    background: url(../img/plane.png);
    background-size: 4vw 3vw;
    background-repeat: no-repeat;
    background-position: center top;
    animation: planeFlying 15s linear infinite;
    z-index: 500;
}
@keyframes planeFlying{
    to{
        transform: rotate(1turn);
    }
}
.planet-ring{
    display: none;
    width: 35vw;
    height: 27vw;
    top:4vw;
    position: absolute;
    background: url(../img/wedding.png);
    background-size: 5vw 5vw;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 100;
}
.planet-kid{
    display: none;
    width: 35vw;
    height: 28vw;
    top:3.5vw;
    position: absolute;
    background: url(../img/baby.png);
    background-size: 3vw 3vw;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 100;
}
.planet-parent{
    display: none;
    width: 35vw;
    height: 25vw;
    top:5vw;
    position: absolute;
    background: url(../img/parent.png);
    background-size: 5vw 5vw;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 100;
}
.planet-retire{
    display: none;
    width: 35vw;
    height: 17.5vw;
    top:0px;
    position: absolute;
    background: url(../img/retire.png);
    background-size: 6vw 6vw;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 100;
}
.planet-entrepreneur{
    display: none;
    width: 35vw;
    height: 36vw;
    top:-0.5vw;
    position: absolute;
    background: url(../img/company.png);
    background-size: 4vw 4vw;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 400;
}
.list-text{
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 5vw;
    height: 20px;
    background-color: transparent;
    color: black;
}
.list-text::placeholder{
    color:black;
}
.list-ranger{
    width: 11vw;
    margin: 0px;
    height: 24px;
}
.list-label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 25px;
}